  <div class="col-12 col-md-3">
    <div class="mb-3">
      <%= link_to "/friends", class: "btn btn-primary" do %>
        Add a new Friend
      <% end %>
    </div>

   <div>
     <ul class="list-group">

     <% if @friends_user_id.present? %>

         <% @friends_user_id.each do |friend| %>
           <a href="<%= show_chat_path(username: @f_uname_map[friend])%>" class="online_users_link" style="text-decoration: none;color: black">

           <li class="list-group-item d-flex justify-content-between align-items-center">
             <div class="col-auto text-center">
               <% user = User.find(friend) %>
               <%if !user.avtar.url.nil? %>
                 <img class="avatar" src="<%= user.avtar%>">
               <% else %>
                 <img src="https://ptetutorials.com/images/user-profile.png" class="avatar" alt="">
                 <% end %>

             </div>
             <%= @f_name_map[friend] %>
             <% notification_count = @notifications.select{|x| x.user_id==friend}.count %>
             <span class="badge badge-primary" id="notification_<%= friend %>"><%= (notification_count!=0)? notification_count : ""%></span>
             <span class="badge badge-<%= (@online_users.include?(friend))? "success" :"light" %>" id="status_<%= friend %>"><%= (@online_users.include?(friend))? "Online" :"Offline" %></span>

           </li>
           </a>
         <% end %>

     <% else %>
       <div class="text-muted">
         You don't have any friends. Click on "Add a new Friend" and start a chat.
       </div>
     <% end %>
     </ul>
   </div>

</div>
